{% extends "base.html" %}

{% load static %}
{% block page_content %}
<div class="tiket-lp" id="text-sell">
    <p class="tiket-title-lp">Buy Your Ticket Here!</p>
    <p class="tiket-subtitle-lp">Klik tombol generate</p>

</div>
<div class ="outer-form form-column col-4 ">
    <br/><br/><input class="textBox" type="text" id="" placeholder="Insert Concert ID" />
    <button id="generate" type="button">Generate</button>
    <a href="{% url 'caritiket:viewjualtiket' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
    <div class="table-responsive-md" >
        <table class="table table-bordered" id="table-books">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Concert Name</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="generates">

            </tbody>
        </table>
    </div>


</div>
{% endblock %}
