{% extends "base.html" %}

{% load static %}
{% block title %} Find Ticket {% endblock %}
{% block page_content %}

<div class="tiket-lp">
    <h1 class="h-fk">Find Your Ticket Here!</h1>
    <input id="search" placeholder="Singer or Concert">
    <button id="button" type="button">Search</button>
</div>

<div class="table-responsive-md" >
    <table class="table table-bordered" id="table-books">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">ID</th>
            <th scope="col">Concert Name</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="results">

        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'admin/js/caritiket.js' %}"></script>
{% endblock %}
