{% extends "base.html" %}

{% load static %}
{% block title %} Find Konco {% endblock %}

{% block page_content %}
<div class="div-find-konco">
    <h1 class="h-fk">Post a Konco Request Here!</h1>
    <p class="text-fk"> Kamu bisa mencari teman yang ingin datang ke konser yang sama denganmu atau menambahkan dirimu disini</p>
    <a href="{% url 'carikonco:myformkonco' %}"><button id="bt-fk" type="button">Add Me!</button></a>
</div>

<div class="results card konco bg-danger text-white" style="width: 18rem;">
    </div>
    {% for item in daftar_item %}
        <div class="card konco bg-danger text-white " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ item.namakonser }}</h5>
                <h6 class="card-subtitle mb-3  text-white ">{{ item.tempatkonser }}, {{ item.tanggalkonser }}</h6>
                <p class="card-text">{{ item.pesan }}</p>
                <h6 class="card-subtitle mb-3  text-white">{{ item.namalengkap }}</h6>
                <h6 class="card-subtitle mb-3  text-white">{{ item.notelepon }}</h6>
                <a href="{% url 'carikonco:mydelkonco' id=item.id%}" class="card-link text-white">Delete</a>
            </div>
        </div>
        {% endfor %}

{% endblock %}
