{% extends "base.html" %}

{% block page_content %}

    <h1>Please Login!</h1>
    <form id="login-form" method="post" novalidate>
        {% csrf_token %}
        {{form}}
        <button id="login-button"type="submit" class="button">Login</button>
    </form>
        <h3>If you don't have an account please sign up!</h3>
        <a href="{% url 'users:signup' %}" style="margin:auto; display: block; max-width: 10%;" class="button"> Sign Up</a>



{% endblock %}