{% extends "base.html" %}
{%block page_content%}


    <h1>Hello {{ user.username }}</h1>


    <ul>
        <h3>Your data</h3>
        <li>Username: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
    </ul>

    
    <h3 style="color:black">Get Quote of the Day</h3>
    <button class="btn-outline-dark">Press Me!</button>
    <h4 class="quote"></h4>


    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(
        function (){
    $(".btn-outline-dark").click(function(event){
        let urlItem =  "http://quotes.rest/qod.json"
        
        $.ajax({
            asynce: true,
            type: 'GET',
            url: urlItem,
            dataType: 'json',
            success: function(qod){
                let text = qod.contents.quotes[0].quote
                console.log(text),
                $('.quote').empty();
                $('.quote').append(text);

            }

        });
    });

});
    $(document).onload(alert("Hello"));
    $('.quote').onmouseover(function(){
        var fontSize = $('.quote').css('font-size').split('px')[0];

        var fontInt = parseInt(fontSize) + 1;

        fontSize = fontInt + 'px';
        $('.quote').css({'font-size':fontSize})
    });
    </script>
{% endblock%}