{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Konco Konser</title>
        {% block head_content %}
        
        {% endblock %}

    </head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top " >
                    <a class="navbar-brand" href="{% url 'homepage:Homepage' %}">
                            KoncoKonser
                    </a>
                    <!-- Toggler/Collapsible Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if user.is_authenticated %}
                    <h4 style="color: white;">Hello {{user.username}}</h4>
                    {% endif %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                        <ul class="navbar-nav ml-auto " >
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'carikonco:mysearchkonser' %}">Find Your Konco Here!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'konser:mykonser' %}">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'gossip:mygossip' %}">Gossip</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'caritiket:viewjualtiket' %}">Tickets</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'users:profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link logout" href="{% url 'logout' %}">logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'login' %}">Login</a>
                            </li>
                            {% endif %}
                            </ul> 
                            </div>
        </nav>
    </header>
    {% block page_content %}
    {% endblock %}

    <script>
        $(.)

    </script>
    <footer>
        <div class ="footer-border"  >
            <p class="text-footer"> Made with love from Arkan, Michelle, Rofi, Tesa </p>
        </div>
    </footer>
</body>
</html>
